################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.vs
*.db
*.sln
*.csproj
/Temp
/Library
/Docs/PersistentData/
/Docs/Archives/


/Assets/StreamingAssets/Assets
/Assets/StreamingAssets/Scripts
/Assets/StreamingAssets/Assets.meta
/Assets/StreamingAssets/Scripts.meta
