################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Temp
/Library
/Tools/Protocol-Gen/obj/Debug
/Assets/StreamingAssets/Lua.meta
/Assets/StreamingAssets/Lua
/Assets/Scripts/obj
/Bin
/AssetBundles/
/AssetBundles/Android/
/AssetBundles/iOS/
/AssetBundles/Win/
/AssetBundles/Windows/
/Assets/StreamingAssets/Scripts
/Assets/StreamingAssets/Assets
/Assets/StreamingAssets/Scripts.meta
/Assets/StreamingAssets/Assets.meta
/Tools/proto-gen-pb/bin/Debug/
/Tools/proto-gen-pb/.vs
/Tools/protocol/protocLua/Temp
/Tools/protocol/protocLua/PBMessage.pb
/Tools/protocol/protocLua/PBMessage.lua
/Tools/protocol/protocLua/GameMessage.lua
/Cards-Framework.sln
/Cards-Framework.CSharp.Editor.csproj
/Cards-Framework.CSharp.csproj
/MaJiang_Lua.sln
/MaJiang_Lua.CSharp.Editor.csproj
/MaJiang_Lua.CSharp.csproj
/PersistentData
