################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Temp
/Library
/Tools/Protocol-Gen/obj/Debug
/Assets/StreamingAssets/Lua.meta
/Assets/StreamingAssets/Lua
/Assets/Scripts/obj
/Bin
/AssetBundles/
/AssetBundles/Android/
/AssetBundles/iOS/
/AssetBundles/Win/
/AssetBundles/Windows/
/Assets/StreamingAssets/Scripts
/Assets/StreamingAssets/Assets
/Assets/StreamingAssets/Scripts.meta
/Assets/StreamingAssets/Assets.meta
